<%= provide :title, 'About Me' %>

<div class="about-me">
  <h2>About Me</h2>
  <p>
    I am from Ottawa, Canada's national capital and a software developer with the Royal Canadian Mounted Police (RCMP).
    This blog focuses on my main interests: coding and music. The coding portion of the blog will be dedicated to Rails,
    React.js and different Java frameworks and the music portion will be dedicated to Metal, EBM and Synthpop.
  </p>
  <p>
    I have been working in various technical support roles since 2006 and recently won a competition to become a Java
    Developer with the RCMP's Application Development Branch. I am happy to finally be able to add Developer as my
    professional title, as I have been working very hard in the past few years to obtain it. I also have worked as a Java Developer
    from 2007 until 2009 for Tarantula Consulting. There, I collaborated on various web application projects, as well as the
    <em>JSFToolbox for Dreamweaver</em> plugin for <em>Adobe Dreamweaver</em>. I co-founded
    <a href="http://colourcodingmedia.com" target="_blank">ColourCoding Media</a> in 2014, and completed various
    client projects as Web Developer which introduced me to Ruby on Rails and Node.js. I left the company in 2015, choosing
    to focus on web applications over websites.
  </p>
  <p>
    From 2002 until 2004 I ran a concert promotion company called Reverie Creation Concerts. I booked bands in Ottawa such as
    Napalm Death, Lacuna Coil, Out of Your Mouth, King's X, amongst others. I also administered OttawaMetal.com from 2003 until 2007
    and had the opportunity to interview Anthrax, The Haunted, In Flames, DevilDriver / Coal Chamber and more.
    From 2009 until 2014, I was DJ Reverie in Ottawa's Goth / Industrial scene, where I specialized in EBM and Synthpop. I
    promoted various club nights such as La Danse Noire and La Danse Macabre. I had the opportunity to DJ in Toronto (at Neurodance)
    and Montreal (at Different Mode), while promoting various club nights in Ottawa like La Danse Noire and La Danse Macabre.
  </p>
</div>