<%= provide :title, 'About Me' %>

<div class="about-me">
  <h2>About Me</h2>
  <p>
    I am from Ottawa, Canada's national capital. I am a software developer with the Royal Canadian Mounted Police (RCMP).
    This blog mostly contains posts about my main interests which are coding and music.
  </p>
  <p>
    Since 2006, I have been working in various technical support roles and I recently won a competition to become a Java
    Developer with the RCMP's Application Development Branch and I'm happy to finally be able to add Developer as my
    professional title as I've been working really hard in the last few years to obtain this title. I'm not exactly a
    Junior Developer though as I worked as a Java Developer from 2007 until 2009 for Tarantula Consulting where I worked on
    various web application projects as well as the <em>JSFToolbox for Dreamweaver</em> plugin for Adobe Dreamweaver. I
    co-founded <a href="http://colourcodingmedia.com" target="_blank">ColourCoding Media</a> in 2014 and worked on various
    client projects as Web Developer which got me introduced to Ruby on Rails and Node.js. I left the company in 2015.
    The coding portion of the blog will be dedicated to Rails, React.js and different Java frameworks.
  </p>
  <p>
    As for music, from 2002 until 2004, I ran a concert promotion company called Reverie Creation Concerts where I booked
    bands in Ottawa such as Napalm Death, Lacuna Coil, Out of Your Mouth, King's X, among other bands. I also ran OttawaMetal.com
    from 2003 until 2007 where I had the opportunity to interview bands such as Anthrax, The Haunted, In Flames, DevilDriver / Coal
    Chamber and more. From 2009 until 2014, I was a DJ in Ottawa's Goth / Industrial scene, DJ Reverie. I specialized in EBM and
    Synthpop and I promoted various club nights such as La Danse Noire and La Danse Macabre. The music portion of the blog will be
    dedicated to Metal, EBM and Synthpop.
  </p>
</div>