<%= provide :title, 'About Me' %>

<div class="about-me">
  <h2>About Me</h2>
  <p>
    I am from Ottawa, Canada's national capital and a Software Developer with the <abbr title="Royal Canadian Mounted Police">RCMP</abbr>.
    The blog will be dedicated to fullstack web development that may include Ruby on Rails and AngularJS and other libraries and frameworks
    and perhaps other programming languages.
  </p>
  <p>
    I first got into coding back in 1995 when I attended the Virtual Ventures summer camp where I learnt HTML. Since then, I became involved
    with building my elementary school's first website and then joined the web design team that re-designed my secondary school's website.
    My secondary school offered a few programming courses using <em>Visual Basic</em> and <em>Macromedia Shockwave</em> which quenched my thirst
    for software development. I then graduated secondary school with a specialization in Informatics and received a bursary for having completed the
    specialization.
  </p>
  <p>
    In College, I completed my studies in <em>IT Security</em> at La Cite collegiale which included courses on Cryptography, Systems
    Design, C and C++ programming, Linux Administration, and followed the curriculums for <abbr title="Cisco Certified Network Associate">CCNA</abbr>
    and <abbr title="Cisco Certified Network Professional">CCNP</abbr>. Once graduated, I completed a few certificates from Algonquin College for Web
    Design, Digital Web Studio and then Enterprise Java Developer the following year where I met Ian Hlavats (author of <em>JSF 1.2 Components</em>,
    Packt Publishing), at the time a professor of the certificate program, who hired me as a part-time Software Developer for his company Tarantula
    Consulting. I then joined the company as a full time employee for almost a year until mid-Summer of 2009.
  </p>
  <p>
    During my time at Tarantula Consulting, I used many Java EE technologies such as JSF, JPA and Servlets in projects for clients implementing new
    features and fixing bugs. I also worked on <em>JSFToolbox for Dreamweaver</em>, a plugin for <em>Adobe Dreamweaver</em> that permitted JSF
    developers to see their JSF tags rendered in the Visual view of the application. Plugins for <em>Dreamweaver</em> are written in C++, but
    this plugin started a <abbr title="Java Virtual Machine">JVM</abbr> and its business logic was written in Java. I worked on mapping JSF
    components to their HTML equivalents as well as on the wizard that guided users during the licence activation process of the plugin.
  </p>
  <p>
    Prior to joining <em>Tarantula Consulting</em>, I became a civilian member of the RCMP and worked as part of their 1st level of technical
    support for 2 years. When I left <em>Tarantula Consulting</em>, I went back to the RCMP and I joined their section to provide 3rd level
    support for the <abbr title="Police Reporting Occurrence System">PROS</abbr> application, their implementation of the <em>Niche RMS</em>
    by <a href="http://nicherms.com" target="_blank">Niche Technology</a>, which had a user base of over 18,000 users. I became the technical
    <abbr title="Subject-matter expert">SME</abbr> where my responsibilities included identifying and documenting technical issues, troubleshooting
    these issues in order to find workarounds, communicating with the vendor to find workarounds for issues if I wasn't able to find workarounds,
    communicating with the 1st and 2nd level support of the application to provide them with workarounds or how their issues are fixed with new
    features, etc.
  </p>
  <p>
    During my 6 years in this position, I was able to take advantage of my passion with software development by writing custom reports for the
    application. These reports had three separate sections: 1) Using PowerBuilder's Dynamic Datawindows, we could design the window where users
    could enter their parameters for the report; 2) Using Application SQL, Niche's SQL dialect, we could write statements that extracted
    data from the database in XML for use in the report; 3) Using XSLT transformations, we could design HTML pages to render the report using the
    XML representation of the data extracted from the database.
  </p>
  <p>
    Since I wasn't a Software Developer anymore, I needed to figure out a way to keep my skills up-to-date in order to become hireable again, so
    in 2013, I started reading programming books and learnt Node, Backbone.js, iOS programming using Objective-C, etc and then signed up for on-line
    courses through <a href="https://tutsplus.com/" target="_blank">Tuts+</a> and then later on through <a href="http://codeschool.com" target="_blank">
    Code School</a> and <a href="http://pluralsight.com" target="_blank">Pluralsight</a>.
  </p>
  <p>
    In 2014, I co-founded <a href="http://colourcodingmedia.com" target="_blank">ColourCoding Media</a>, a website design company, with a longtime
    friend from secondary school, I was the web developer and she was the web designer. I would build a website template based on her designs using
    HTML and CSS and then build the website using either Ruby on Rails or WordPress. I would set up hosting either on a
    <abbr title="Virtual Private Server">VPS</abbr> from <a href="http://digitalocean.com" target="_blank">DigitalOcean</a>, or on clients' own
    hosting. I left the company in March 2015 due to time constraints preventing me from being able to keep up with the projects' demands since
    I was only working part-time on the company and it wasn't financially viable for me to leave my full-time employment at the time. It's been great
    to see my friend grow the company to what it currently is at the moment and I only wish her the best.
  </p>
  <p>
    My goal to regain my title as Software Developer was achieved in March 2016 when I joined the RCMP's <abbr title="Application Development Branch">
    ADB</abbr> as a Software Developer.
  </p>
  <p>
    My advice to those wishing to get into the software development field is to never give up and keep pushing ahead regardless of the outcome of
    interviews. It was well worth it for me in the end.
  </p>
</div>
