<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
</head>
<body>
<p>From: <%= link_to @contact.name, "mailto:#{@contact.email}" %></p>
<p><%= simple_format @contact.body %></p>
</body>
</html>
