<%= provide :title, "Editing '#{@post.title}'".html_safe %>

<div class="edit-post">
  <h2>Edit Post</h2>
  <%= render partial: 'posts/partials/form', locals: { post: @post, id: 'edit-post', url: post_path(@post), editing: true } %>
</div>
