<%= provide :title, "Edit Category (#{@category.name})" %>

<div class="edit-category">
  <%= render partial: 'categories/partials/form', locals: { category: @category, id: 'edit-category' } %>
</div>
