<%= provide :title, "Edit Category (#{@category.name})" %>

<div class="edit-category">
  <%= form_for @category, url: category_path(@category.slug), html: { id: 'edit-category' } do |f| %>
    <%= render partial: 'categories/partials/form', locals: { f: f, id: 'edit-category' } %>
  <% end %>
</div>
